@using Bejebeje.Common
@model Bejebeje.ViewModels.Lyric.ArtistLyricsViewModel

@{
  ViewData["Title"] = "Artist lyrics";
}

<div class="heading mb-5">
  <h1>@Model.Artist.FullName.ToTitleCase() lyrics</h1>

  <div>
    @Html.ActionLink($"{Model.Artist.FullName.ToTitleCase()} details", "Details", "Artist", new { id = Model.Artist.Id }, new { @class = "btn btn-sm btn-warning" })

    @Html.ActionLink("Add new lyric", "Create", "Lyric", new { artistId = Model.Artist.Id }, new { @class = "btn btn-sm btn-primary" })
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Title</th>
      <th scope="col">Created at</th>
      <th scope="col">Is approved?</th>
      <th scope="col">Is deleted?</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    @foreach (var lyric in Model.Lyrics)
    {
      <tr>
        <td>@lyric.Id</td>
        <td>@lyric.Title</td>
        <td>@lyric.CreatedAt</td>
        <td>@lyric.IsApproved.ToYesOrNo()</td>
        <td>@lyric.IsDeleted.ToYesOrNo()</td>
        <td style="text-align: right">
          @Html.ActionLink("Details", "Details", new { id = lyric.Id })
        </td>
      </tr>
    }
  </tbody>
</table>