@using Bejebeje.Common
@model Bejebeje.ViewModels.Artist.ArtistDetailsViewModel

@{
  ViewData["Title"] = "Artist details";
}

<div class="heading mb-5">
  <h1>@Model.Artist.FullName.ToTitleCase() details</h1>

  <div>
    @Html.ActionLink("Edit artist", "Edit", new { id = @Model.Artist.Id }, new { @class = "btn btn-sm btn-warning" })

    @Html.ActionLink("See Lyrics", "Index", "Lyric", new { artistId = Model.Artist.Id }, new { @class = "btn btn-sm btn-primary" })
  </div>
</div>

<div class="mb-5">
  <dl class="row">
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Artist.Id)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Artist.Id)
    </dd>

    <dt class="col-sm-2">
      Image
    </dt>
    <dd class="col-sm-10">
      @if (Model.Artist.HasImage)
      {
        <img src="@Model.Artist.ImageUrl" />

        <a asp-action="Edit" asp-controller="ArtistImage" asp-route-id="@Model.Artist.Id">Update image</a>

        <a asp-action="Delete" asp-controller="ArtistImage" asp-route-id="@Model.Artist.Id">Remove image</a>
      }
      else
      {
        <text>None | </text> <a asp-action="Create" asp-controller="ArtistImage" asp-route-id="@Model.Artist.Id">Add image</a>
      }
    </dd>

    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Artist.FirstName)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Artist.FirstName)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Artist.LastName)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Artist.LastName)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Artist.FullName)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Artist.FullName)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Artist.IsApproved)
    </dt>
    <dd class="col-sm-10">
      @Model.Artist.IsApproved.ToYesOrNo()
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Artist.UserId)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Artist.UserId)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Artist.CreatedAt)
    </dt>
    <dd class="col-sm-10">
      @Model.Artist.CreatedAt.ToString("dd MMM yyyy hh:mm:ss")
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Artist.ModifiedAt)
    </dt>
    <dd class="col-sm-10">
      @if (Model.Artist.ModifiedAt.HasValue)
      {
        @Model.Artist.ModifiedAt.Value.ToString("dd MMM yyyy hh:mm:ss")
      }
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Artist.IsDeleted)
    </dt>
    <dd class="col-sm-10">
      @Model.Artist.IsDeleted.ToYesOrNo()
    </dd>
  </dl>
</div>

<div class="heading mb-4">
  <h2>Slugs</h2>

  <div>
    @Html.ActionLink("Add new slug", "Create", "ArtistSlug", new { artistId = Model.Artist.Id }, new { @class = "btn btn-sm btn-primary" })
  </div>
</div>

<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Is primary?</th>
        <th scope="col">Created at</th>
        <th scope="col">Modified at</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      @foreach (var slug in Model.Slugs)
      {
        <tr>
          <td>@slug.Id</td>
          <td>@slug.Name</td>
          <td>@slug.IsPrimary.ToYesOrNo()</td>
          <td>@slug.CreatedAt.ToString("dd MMM yyyy hh:mm:ss")</td>
          <td>
            @if (slug.ModifiedAt.HasValue)
            {
              @slug.ModifiedAt.Value.ToString("dd MMM yyyy hh:mm:ss")
            }
          </td>
          <td style="text-align: right">
            @Html.ActionLink("Edit", "Edit", "ArtistSlug", new { id = slug.Id })
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

<div>
  <a asp-action="Index">Back to artists</a>
</div>
