@model ViewModels.Lyric.LyricDetailsViewModel
@using Common

@{
  ViewData["Title"] = "Details";
}

<div class="heading">
  <h1>@Model.Lyric.Title by @Model.Artist.FullName.ToTitleCase()</h1>

  <div>
    @Html.ActionLink("Add new lyric slug", "Create", "LyricSlug", new { lyricId = Model.Lyric.Id }, new { @class = "btn btn-sm btn-primary" })
    @Html.ActionLink("Edit Lyric", "Edit", "Lyric", new { id = Model.Lyric.Id }, new { @class = "btn btn-sm btn-warning" })
  </div>
</div>

<div>
  <dl class="row">
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Lyric.Id)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Lyric.Id)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Lyric.Title)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Lyric.Title)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Lyric.Body)
    </dt>
    <dd class="col-sm-10" style="white-space: pre-line;">
      @Html.DisplayFor(model => model.Lyric.Body)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Lyric.UserId)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Lyric.UserId)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Lyric.CreatedAt)
    </dt>
    <dd class="col-sm-10">
      @Model.Lyric.CreatedAt.ToString("dd MMM yyyy hh:mm:ss")
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Lyric.ModifiedAt)
    </dt>
    <dd class="col-sm-10">
      @if (Model.Lyric.ModifiedAt.HasValue)
      {
        @Model.Lyric.ModifiedAt.Value.ToString("dd MMM yyyy hh:mm:ss")
      }
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Lyric.IsDeleted)
    </dt>
    <dd class="col-sm-10">
      @Model.Lyric.IsDeleted.ToYesOrNo()
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Lyric.IsApproved)
    </dt>
    <dd class="col-sm-10">
      @Model.Lyric.IsApproved.ToYesOrNo()
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Lyric.ArtistId)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Lyric.ArtistId)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Lyric.AuthorId)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Lyric.AuthorId)
    </dd>
  </dl>
</div>
