@model ViewModels.Artist.ArtistViewModel
@using Common

@{
  ViewData["Title"] = "Artist details";
}

<div class="heading">
  <h1>@Model.FullName.ToTitleCase() details</h1>

  <div>
    @Html.ActionLink("Edit artist", "Edit", new { id = @Model.Id }, new { @class = "btn btn-sm btn-warning" })
    @Html.ActionLink("See Lyrics", "Index", "Lyric", new { artistId = Model.Id }, new { @class = "btn btn-sm btn-primary" })
    @Html.ActionLink("Add new slug", "Create", "ArtistSlug", new { artistId = Model.Id }, new { @class = "btn btn-sm btn-primary" })
  </div>
</div>

<div>
  <dl class="row">
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.Id)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Id)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.FirstName)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.FirstName)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.LastName)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.LastName)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.FullName)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.FullName)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.IsApproved)
    </dt>
    <dd class="col-sm-10">
      @Model.IsApproved.ToYesOrNo()
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.UserId)
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.UserId)
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.CreatedAt)
    </dt>
    <dd class="col-sm-10">
      @Model.CreatedAt.ToString("dd MMM yyyy hh:mm:ss")
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.ModifiedAt)
    </dt>
    <dd class="col-sm-10">
      @if (Model.ModifiedAt.HasValue)
      {
        @Model.ModifiedAt.Value.ToString("dd MMM yyyy hh:mm:ss")
      }
    </dd>
    <dt class="col-sm-2">
      @Html.DisplayNameFor(model => model.IsDeleted)
    </dt>
    <dd class="col-sm-10">
      @Model.IsDeleted.ToYesOrNo()
    </dd>
  </dl>
</div>
<div>
  <a asp-action="Index">Back to List</a>
</div>
